@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #182153;
    font-family: 'Quicksand', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f1f1f1;
}
header{
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
}
header .logo a{
    
    font-size: 2em;
    font-weight: 500;
    text-transform: capitalize;
}
header nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
header nav a{
    cursor: pointer;
    font-size: 0.9em;
    transition: 0.5s ease all;
}
header nav a:hover{
    color: #adb0c2;
    letter-spacing: 2px;
}
#hero{
    background-image: url(../img/ayman-hallak-1wlvPzWQr1A-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 85vh;
}
#hero .cardHolder{
    background-color: #1a235299;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    padding-top: 9em;
}
#hero .cardHolder .card{
    
    width: 60%;
    margin: 0 auto;
}
#hero .cardHolder .card .part1{
    display: flex;
    justify-content: space-between;
}
#hero .cardHolder .card .part1 img{
    width: 50%;
    height: auto;
}
#hero .cardHolder .card .part1 .des{
    background-color: #ffff;
    width: 50%;
    padding: 2em 5em;
}
#hero .cardHolder .card .part1 .des h2{
    font-size: 2em;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
#hero .cardHolder .card .part1 .des h2 span{
    font-size: 0.5em;
    font-weight: 500;
    margin: 0 3em;
    text-transform: capitalize;
}
#hero .cardHolder .card .part1 .des p {
    margin: 1.5em -2em;
    
}
#hero .cardHolder .card .part1 .des p span{
    font-size: large;
    font-weight: 500;
}
#hero .cardHolder .card .part2{
    width: 100%;
    height: 70px;
    background-color: #182153;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#hero .cardHolder .card .part2 svg{
    width: 30px;
    height: 30px;
}
#me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 6em 0;
    width: 100%;

}
#me h2{
    font-size: 1.9em;
    font-weight: 500;
    padding: 1em;
}
#me p{
    width: 45em;
    font-weight: 500;
    font-size: 1.1em;
    margin: 0 auto;
}
.bigHolder {
    padding: 4em 15em;
    background-color: white;
}
.bigHolder h2{
    text-align: center;
    margin-bottom: 4em;
}
.bigHolder .holder{
    margin: 0 10em;
}
.bigHolder .holder section {
    display: flex;
    align-items: baseline;
    margin-bottom: 3em;
}
.bigHolder .holder section p {
    font-weight: lighter;
    font-size: 0.9em;
    margin: 0 1.5em;
}
.bigHolder .holder section div h3 {
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 0.4em;
}
.bigHolder .holder section div p {
    font-size: 1.1em;
    width: 20em;
    margin: 0;
}
.bigHolder .holder section div ul {
    width: 22em;
}
.bigHolder .holder section div ul li {
    margin: 1em 0;
}
/* #skils {
    background-color: white;
    width: 100 %;
}
#skils h2{
    text-align: center;
}
#skils .skilsHolder{
    display: flex;
    justify-content: center;
    gap: 200px;
}
#html{
    background-image: linear-gradient(#182153 70%,white 30%);
    width: 10em;
    padding: 1em;
    align-items: center;
    color: #f1f1f1;
    text-align: center;
} */
#apititudes{
    background-image: url(../img/ayman-hallak-1wlvPzWQr1A-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#apititudes h2{
    width: 100%;
    height: 80px ;
    background-color: #182153;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #f1f1f1;
}
#apititudes .partsHoldder{
    background-color: #1a235299;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
}
#apititudes .partsHoldder{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 2em;
}
#apititudes .partsHoldder .part h3{
    background-color: #fefeff00;
    backdrop-filter: blur(2px);
    width: 20em;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    color: #f1f1f1;
    font-weight: 600;
}
#contact h2{
    width: 100%;
    height: 80px ;
    background-color: #f1f1f1;
    color: #182153;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}
#contact .holder{
    display: flex;
    justify-content: space-between;
    padding: 0 20em;
}
#contact .holder form{
    border-right: solid 2px white;
    padding: 1em;
}
#contact .holder form .bigone{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 1em;
}
#contact .holder form .bigone .smallHolder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#contact .holder{
    color: #182153;
    font-size: 1em;
}
#contact .holder input{
    border: 1px solid #182153;
    outline: none;
    width: 15em;
    padding: 0.3em 1em;
    color: #182153;
    font-size: 1.1em;
}
#contact .holder #email{
    border: 1px solid #182153;
    outline: none;
    width: 30em;
    padding: 0.3em 1em;
    color: #182153;
    font-size: 1.1em;
    margin-bottom: 1em;
}
textarea{
    border: 1px solid #182153;
    outline: none;
    width: 30em;
    height: 200px;
    padding: 0.3em 1em;
    color: #182153;
    font-size: 1.1em;
    resize: none;
}
#contact .holder form button{
    border: 2px solid white;
    outline: none;
    background-color: #182153;
    color: white;
    cursor: pointer;
    width: 40em;
    padding: 1em;
    font-weight: 900;
    transition: 0.5s ease all;

}
#contact .holder form button:hover{
    border: 2px solid #182153;
    outline: none;
    background-color: white;
    color: #182153;
    cursor: pointer;
    width: 40em;
    padding: 1em;

}
#contact .holder .des{
    padding: 1em;
}
#contact .holder .des h3{
    font-size: 2em;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
#contact .holder .des h3 span{
    font-size: 0.5em;
    font-weight: 500;
    margin: 0 3em;
    text-transform: capitalize;
}
#contact .holder .des p {
    margin: 1.5em;
    
}
#contact .holder .des p span{
    font-size: large;
    font-weight: 500;
}
#contact .holder .khat{
    width: 15em;
    height: 2px;
    background-color: white;
    margin: 1em;
}
#contact .holder .socialHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 6em;
}
#contact .holder .socialHolder{
    width: 30px;
    height: 30px;
}